{{#if usercart}}
<h1>shopping-cart</h1>

<div style="padding-top:30px">
    <table class="table table-borderd">
  <thead>
<tr class="table-active">
      <th scope="col" class="text-canter">#</th>
      <th scope="col" class="text-canter">Product Name</th>
      <th scope="col" class="text-canter">Product Quantity</th>
      <th scope="col" class="text-canter">Product Price</th>

    </tr>
  </thead>
  <tbody>
    {{#each usercart.selectedProduct as |val index| }}
    <tr>
      <th scope="row" class="text-canter">{{addindex @index}}</th>
      <td class="text-canter">{{val.name}}<a href="/deleteproduct/{{index}}"class="btn float-end" style="margin-left: 30px;">Delete<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
</svg></a>
</td>

      <td class="text-canter">

          {{#if (checkqunatity @ val.quantityproduct) }}
          <a class="btn disabled" style="margin-left: 30px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
  <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"/>
</svg></a>
          {{else}} 
            <a href="/decreaseproduct/{{index}}"class="btn" style="margin-left: 30px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
  <path d="M0 8a1 1 0 0 1 1-1h14a1 1 0 1 1 0 2H1a1 1 0 0 1-1-1z"/>
</svg></a>
{{/if}}

                    {{val.quantityproduct }}

          <a href="/increaseproduct/{{index}}"class="btn" style="margin-right: 30px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
</svg></a>
</td>
      <td class="text-canter">{{val.price}}</td>
    </tr>  
    {{/each}}   
    <tr class="table-primary">

      <td style="font-weight: bold;">Total Price</td>
      <td style="font-weight: bold;" class="text-center">${{usercart.totalprice}}</td>
    </tr> 
  </tbody>
</table>
</div>
<div class="center"><a href="/checkout" class="btn sucess">checkout</a></div>
{{else}}
   
<h1 class="text-center" style="margin: 100px;">shopping cart is empty</h1>
{{/if}}