<div><h1>user name:</h1></div>
<div>
<div class="col-sm-3">
  <div class="text-center">
    <img src="/images/k.png" class="img-thumbnail" id="file-ip-1-preview" > 
    <input type="file" class="custom-file-input" id="file-ip-1-preview" >
  </div>
</div>
<div class="col-sm-9">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">User</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Order</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="container">
  <div class="row row-cols-2">
    <div class="col"><p class="fw-bolder">First Name:</p></div>
    <div class="col"><p class="fst-normal">{{profileinfo.firstname}}</p></div>
    <div class="col"><p class="fw-bolder">Last name:</p></div>
    <div class="col"><p class="fst-normal">{{profileinfo.lastname}}</p></div>
    <div class="col"><p class="fw-bolder">Email</p></div>
    <div class="col"><p class="fst-normal">{{profileinfo.email}}</p></div>
    <div class="col"><p class="fw-bolder">Adress:</p></div>
    <div class="col"><p class="fst-normal">---</p></div>
    <div class="col"><p class="fw-bolder">Password</p></div>
    <div class="col"><p class="fst-normal">*****</p></div>
    <div class="text-center"> <button type="button" class="btn btn-primary" id="updatedata">Update</button>
</div>
  </div>
  
<div class="formupadte">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
</div>
</div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div style="padding-top:30px ;">
{{#each orderuser as |val index| }}
    <table class="table">
  <thead>
<tr class="table-active text-canter">
          <td colspan="4" style="font-weight: bold;" class="text-center"> order number     {{addindex @index}}</td></tr>

    <tr>
      <th scope="col" class="text-canter">#</th>
      <th scope="col" class="text-canter">Product Name</th>
      <th scope="col" class="text-canter">Product Qunatity</th>
      <th scope="col"class="text-canter">Product Price</th>
    </tr>
  </thead>
  <tbody>
      {{#each this.cart.selectedProduct  as |val indexproduct|}}
          <tr>
      <th scope="row" class="text-canter">{{addindex @indexproduct}}</th>
      <td class="text-canter">{{this.name}}</td>
      <td class="text-canter">{{this.quantityproduct}}</td>
      <td class="text-canter">{{this.price}}</td>
    </tr>
      {{/each}}
<tr class="table-primary">
      <td style="font-weight: bold;">Total price</td>
            <td colspan="4" style="font-weight: bold;" class="text-center">$      {{this.orderprice}}</td>
    </tr>
  </tbody>
</table>
</li>
{{/each}}
</div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
</div>
</div>
</div>

<script>
  function showPreviewOne(event){
      if(event.target.files.length > 0){
        let src = URL.createObjectURL(event.target.files[0]);
        let preview = document.getElementById("file-ip-1-preview");
        preview.src = src;
        preview.style.display = "block";
      } 
    }
    function myImgRemoveFunctionOne() {
      document.getElementById("file-ip-1-preview").src = "https://i.ibb.co/ZVFsg37/default.png";
    }
</script>